@{
    ViewData["Title"] = "Home Page";
}

    <style>
        body {
            background-image: url('https://media1.giphy.com/media/3ov9k06VQ0SU6f15rW/giphy.gif');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <div class="container text-light">
        <div class="buttons">

            <div class="action_btn">
                <a href="/Users/Register" class="btn btn-secondary btn-text-uppercase btn-dark" data-submit="modal">Sign Up</a>
                <a href="/Users/Login" class="btn btn-secondary btn-text-uppercase btn-dark" data-submit="modal">Login</a>
                <p id="saved"></p>

            </div>

        </div>
    </div>
