@model StickerDetailsViewModel

<div class="row">
    <div class="col-md-4 text-center">
        <h4><i>@Model.Title</i></h4>
            <div class="img">
                <img src="@Model.ImageUrl"
                     class="card-img-top img-fluid card-image">
            </div>
           <h6>@Model.Size</h6>
           <h6>@Model.SNumber</h6>
    </div>
</div>


